TradeAnalysis.json
{
  "name": "TradeAnalysis",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "16vhNAz8Sd2JOiruqhNtcR9Pz1bpIgqJD",
          "mode": "list",
          "cachedResultName": "TradeAnalysis",
          "cachedResultUrl": "<google_drive_url>"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        -752
      ],
      "id": "31f417f7-f43e-4500-891a-30f3c0d24e30",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QmrEhHRXn5IfEmz1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -400,
        -752
      ],
      "id": "cd59732a-675f-4d16-a026-d505c4321937",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QmrEhHRXn5IfEmz1",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<render_url>",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        -752
      ],
      "id": "b3601fb3-92fb-4f48-a883-3dd5125bb058",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a mutual fund expert and financial analyst.\n\nYou have access to a user's mutual fund portfolio data from google sheets. This data contains various mutual fund holdings, including details such as fund name, category, returns, NAV, expense ratio, and amount invested.\n\nThe user has asked the following question:\n{{ $json.chatInput }}\n\nBased on the portfolio data, respond like a knowledgeable advisor:\n- Explain any technical terms simply.\n- Use relevant statistics or comparisons.\n- Highlight risks, diversification, or performance when relevant.\n- Be concise, helpful, and professional.\n\nIf the user asks for a recommendation or analysis, offer clear, data-based insights using the portfolio data.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -304,
        -424
      ],
      "id": "151c5408-9931-4edc-9f36-ed6bf262676b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -400,
        -200
      ],
      "id": "d40ceb01-bd78-4992-ab67-58285c317b46",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yVMu3U1GXgkjXmUH",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -272,
        -200
      ],
      "id": "e8f9d803-bf4d-40c0-a1e7-695f0f55805d",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -144,
        -200
      ],
      "id": "e260040f-cb1c-4656-9d04-98ce35b09729",
      "name": "Calculator"
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "title": "Hi there! 👋 Iam your Mutual fund analyzer "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -624,
        -424
      ],
      "id": "4fa93529-7c57-42c7-8776-d83137c1d48e",
      "name": "When chat message received",
      "webhookId": "353aa4ab-ddcc-424e-8da1-691d81b970dd"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "<document_id>",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "<sheet_url>"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "data"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        48,
        -752
      ],
      "id": "ee60c84e-a1dd-41e0-a1be-36f753c978ff",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZOS8IOBaPLujO2Jl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "<spreadqsheet_url>",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "<sheet_url>"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -16,
        -200
      ],
      "id": "c148a3b5-1219-4006-ad25-80bdbf0ffc8b",
      "name": "Get row(s) in sheet in Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZOS8IOBaPLujO2Jl",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "87bd79f0-27cd-48aa-9d19-f86bb5cc443e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "345f18d149763877035c6e0a3f00211b966f7387944cf104079b443c16e29193"
  },
  "id": "YqDQcz3m3yGsZTU9",
  "tags": []
}